<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Derek Miller</title>
        <link href="https://fonts.googleapis.com/css?family=Quicksand|Aclonica|Berkshire+Swash|Gabriela|Source+Code+Pro|Kelly+Slab&display=swap" rel="stylesheet">
        {{!-- <script src="https://kit.fontawesome.com/6b51e00987.js"></script> --}}
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <link type="text/css" rel="stylesheet" href="/css/navbar.css">
        <link type="text/css" rel="stylesheet" href="/css/projects.css">
        <link type="text/css" rel="stylesheet" href="/css/interview.css">
        <link type="text/css" rel="stylesheet" href="/css/contact.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
  {{{body}}}
</body>

</html>