<div class="navbar-wrap">

        <div class="logo">
                <h3>DEREK MILLER</h3>
                {{!-- <img class="logo-image" src="/images/worksonmymachine.png" alt="coding-image"> --}}
        </div>
        <div class="social-media-wrap">

                <!-- facebok -->
                <a class="social-media-a facebook" href="https://www.facebook.com/derek.miller.9404" target="_blank">
                        <img src="/images/facebook-icon.png" alt="social-icon">
                </a>

                <!-- linked in -->
                <a class="social-media-a linkedin" target="_blank" href="https://www.linkedin.com/in/dev-derekm/">
                        <img src="/images/linkedin-icon.png" alt="social-icon">
                </a>

                <!-- github -->
                <a class="social-media-a github" target="_blank" href="https://github.com/DerekM84">
                        <img src="/images/github-icon.png" alt="social-icon">
                </a>

                <!-- instagram -->
                {{!-- <a class="social-media-a instagram" target="_blank" href="https://www.instagram.com">
                        <img src="/images/instagram-icon.png" alt="social-icon">
                </a> --}}

                <!-- something -->
                {{!-- <a class="social-media-a something" target="_blank" href="https://www.facebook.com">
                        <img src="/images/coding brackets.png" alt="social-icon">
                </a> --}}

        </div>
        <ul class="nav-ul">
                <a href="/">
                        <li class="nav-option">
                                <i class="fas fa-home"></i>
                                <p class="navbar-text"> Home</p>
                        </li>
                </a>
                <a href="/QandA">
                        <li class="nav-option">
                                <i class="far fa-address-book"></i>
                                <p class="navbar-text"> Dev Q&A </p>
                        </li>
                </a>
        </ul>
</div>

{{!-- begin contact info section display --}}
<div class="contact-top-row">

        <div class="profile-pic-wrap">
                <div class="profile-pic">
                        <img class="profile-image" src="./images/Portfolio1Color.jpg" alt="Profile-Picture">
                </div>
        </div>

        <div class="contact-display-wrap">
                <div class="contact-display">
                        <h3> Derek Miller </h3>
                        <hr>
                        <h3>Email @ <a href="mailto:dev.derekm@gmail.com" subject="subject text">dev.derekm@gmail.com</a></h3>
                        <hr>
                        <h3>Text @  480-662-3587 </h3>
                        <hr>
                        <h3>Also available through Zoom.</h3>
                </div>
        </div>
</div>

<div class="contact-bottom-row">
        <div class="bottom-section-wrap">
                <div class="bottom-section">
                        {{!-- <h3>Bottom Section Placehold</h3> --}}
                </div>
        </div>
</div>

<script type="text/javascript" src="./js/portfolio.js"></script>