
  <div class="navbar-wrap">
                
                <div class="social-media-wrap">
                        
                        <!-- facebok -->
                        <a class="social-media-a facebook" href="https://www.facebook.com" target="_blank">
                                <img src="./public/images/facebook-icon.png" alt="social-icon">     
                        </a>
                        
                        <!-- linked in -->
                        <a class="social-media-a linkedin" target="_blank" href="https://www.linkedin/DerekM84.com">
                                <img src="./public/images/linkedin-icon.png" alt="social-icon"> 
                        </a>
                        
                        <!-- github -->
                        <a class="social-media-a github" target="_blank" href="https://github.com/DerekM84">
                                <img src="./public/images/github-icon.png" alt="social-icon">
                        </a>
                        
                        <!-- instagram -->
                        <a class="social-media-a instagram" target="_blank" href="https://www.instagram.com">
                                <img src="./public/images/instagram-icon.png" alt="social-icon">
                        </a>
                        
                        <!-- something -->
                        <a class="social-media-a something" target="_blank" href="https://www.facebook.com">
                                <img src="./public/images/coding brackets.png" alt="social-icon">
                        </a>
                        
                </div>
                <div class="logo">
                        <h3>Derek Miller</h3>
                        <img class="logo-image" src="./public/images/worksonmymachine.png" alt="coding-image">
                </div>
                <ul class="nav-ul">
                        <li class="nav-option"><a>
                                        Home
                                </a></li>
                        <li class="nav-option"><a>
                                        Dev Q&A
                                </a></li>
                    
                </ul>
        </div>

        {{!-- begin contact info section display --}}

         <div class="bottom-row">
                <div class="display-wrap">
                        <div class="display">

                                <h3> Derek Miller
                                </h3>
                                <br>
                                <h3> Derekmlmt@yahoo.com 
                                </h3>
                        </div>
                </div>
        </div>

        <script type="text/javascript" src="../public/js/portfolio.js"></script>