<div class="navbar-wrap">

        <div class="logo">
                <h3>DEREK MILLER</h3>
                {{!-- <img class="logo-image" src="/images/worksonmymachine.png" alt="coding-image"> --}}
        </div>
        <div class="social-media-wrap">

                <!-- facebook -->
                <a class="social-media-a facebook" href="https://www.facebook.com/derek.miller.9404" target="_blank">
                        <img src="/images/facebook-icon.png" alt="social-icon">
                </a>

                <!-- linked in -->
                <a class="social-media-a linkedin" target="_blank"
                        href="https://www.linkedin.com/in/dev-derekm/">
                        <img src="/images/linkedin-icon.png" alt="social-icon">
                </a>

                <!-- github -->
                <a class="social-media-a github" target="_blank" href="https://github.com/DerekM84">
                        <img src="/images/github-icon.png" alt="social-icon">
                </a>

                <!-- instagram -->
                {{!-- <a class="social-media-a instagram" target="_blank" href="https://www.instagram.com">
                        <img src="/images/instagram-icon.png" alt="social-icon">
                </a>

                <!-- something -->
                <a class="social-media-a something" target="_blank" href="https://www.facebook.com">
                        <img src="/images/coding brackets.png" alt="social-icon">
                </a> --}}

        </div>
        <ul class="nav-ul">
                <a href="/">
                         <li class="nav-option">
                                <i class="fas fa-home"></i>
                                <p class="navbar-text"> Home </p>
                        </li>
                </a>
                <a href="/contact">
                         <li class="nav-option">
                                <i class="far fa-comment"></i>
                                <p class="navbar-text"> Get In Touch </p>
                        </li>
                </a>
        </ul>
</div>

{{!-- begin Q and A section  --}}
<div class="page-title-wrap">
        <h1 class="page-title">GET TO KNOW THE DEVELOPER</h1>
</div>
<div class="interview-wrap">
        <div class="interview-display">
                <div class="question-wrap">
                        <input class="checkbox" type="checkbox" id="toggle-1">
                        <label for="toggle-1" class="interviewer">
                               +  What are your qualifications?
                        </label>

                        <p class="me">
                                I started independently and loved it. The obvious step for me was to enroll in the
                                University of Arizona program. So, I completed the intense coding bootcamp which gave me
                                a serious boost in my skills. Now I'm much more confident about
                                working in both the front and back end. What that means is that I've practiced
                                everything from creating the first file in the Github repository to polishing,
                                deploying, and debugging an application.
                        </p>
                </div>
                <div class="question-wrap">
                        <input class="checkbox" type="checkbox" id="toggle-2">
                        <label for="toggle-2" class="interviewer">
                                +  What skills did you develop at the U of A bootcamp?
                        </label>

                        <p class="me">Every day I learned new things, and every night I practiced them. It was rinse and
                                repeat in the purest sense. This educational
                                phase gave me access to more and more tools for web development, and heavy
                                exposure to the community and concepts. It really opened the door to greater potential
                                in design
                                implementation. </p>
                </div>

                <div class="question-wrap">
                        <input class="checkbox" type="checkbox" id="toggle-3">
                        <label for="toggle-3" class="interviewer">
                                +  What do you mean by gaining new tools?</label>
                        <p class="me">
                                The main thing about coding and development is knowing that a concept exists and where
                                to find the documentation on how to implement it. In the bootcamp, we call the set of
                                tools the MERN Stack... which includes MYSQL, MongoDB, Express, React, and Node.js.
                                These are the cornerstone languages, but I learned everything from common HTML,
                                javascript, and CSS to supportive
                                packages like jQuery, Bootstrap, Mongoose, and Sequelize.
                                I've learned how to build layouts with the MVC model, and leave room for expansion on
                                each project.
                        </p>
                </div>

                <div class="question-wrap">
                        <input class="checkbox" type="checkbox" id="toggle-4">
                        <label for="toggle-4" class="interviewer">
                                +  So what is your favorite tool?</label>
                        <p class="me">Well, React was an instant refreshment after working with dynamically created HTML
                                and jQuery. It quickly became my favorite. But even still, I really like rounding out my
                                skillsets, and another thing I enjoy is the fun of creating a custom CSS style with user
                                experience in mind.
                                Flexbox grid layouts are great for the structure and mobile responsiveness.
                                All of this is a nice occasional break from the backend and server-side code and allows
                                for that creative flow too. </p>
                </div>

        </div>
</div>

<div class="resume">
        {{!-- <div class="resume-toggle"> --}}
        <div class="label-wrap">
                <input class="checkbox" type="checkbox" id="resume-toggle">
                <label for="resume-toggle" class="interviewer">
                        SKILLS / EDUCATION</label>
        </div>
        <div class="resume-container">

                <div class="skills-info">
                        <div class="skills-left">
                                <p>React</p>
                                <p>Express</p>
                                <p>Node</p>
                                <p>MongoDB - Mongoose </p>
                                <p>MYSQL - Sequelize </p>
                        </div>
                        <div class="skills-right">
                                <p>Javascript </p>
                                <p>Jquery </p>
                                <p>HTML5 </p>
                                <p>CSS </p>
                                <p>Mobile Responsiveness</p>
                                <p>Flexbox </p>
                                <p>Bootstrap </p>
                        </div>
                </div>

                <div class="education-info">
                        <h1>University of Arizona </h1>
                        <h3>Full-Stack Flex Bootcamp</h3>
                        <p>
                                Gained abilities to work in both front-end and back-end web development.
                        </p>
 <p>
                                Major exposure to Github repository management and team-shared software version control.
                        </p>
                        <p>
                                Developed with VS Code, deploying several varying full-stack applications.
                        </p>
                        <p>
                                  Created custom CSS styled user-experiences with flexbox mobile responsiveness.
                        </p>
                        </p>
                </div>
        </div>
        </p>
</div>
</div>
</div>

<script type="text/javascript" src="./js/portfolio.js"></script>