<div class="navbar-wrap">

        <div class="social-media-wrap">

                <!-- facebook -->
                <a class="social-media-a facebook" href="https://www.facebook.com/derek.miller.9404" target="_blank">
                        <img src="/images/facebook-icon.png" alt="social-icon">
                </a>

                <!-- linked in -->
                <a class="social-media-a linkedin" target="_blank"
                        href="https://www.linkedin.com/in/derek-miller-139433185/">
                        <img src="/images/linkedin-icon.png" alt="social-icon">
                </a>

                <!-- github -->
                <a class="social-media-a github" target="_blank" href="https://github.com/DerekM84">
                        <img src="/images/github-icon.png" alt="social-icon">
                </a>

                <!-- instagram -->
                <a class="social-media-a instagram" target="_blank" href="https://www.instagram.com">
                        <img src="/images/instagram-icon.png" alt="social-icon">
                </a>

                <!-- something -->
                <a class="social-media-a something" target="_blank" href="https://www.facebook.com">
                        <img src="/images/coding brackets.png" alt="social-icon">
                </a>

        </div>
        <div class="logo">
                <h3>Derek Miller</h3>
                {{!-- <img class="logo-image" src="/images/worksonmymachine.png" alt="coding-image"> --}}
        </div>
        <ul class="nav-ul">
                <a href="/">
                        <li class="nav-option">
                                Home
                        </li>
                </a>
                <a href="/contact">
                        <li class="nav-option">
                                Get In Touch
                        </li>
                </a>
        </ul>
</div>

{{!-- begin Q and A section  --}}
<div class="page-title-wrap">
        <h1 class="page-title">GET TO KNOW THE DEVELOPER</h1>
</div>
<div class="interview-wrap">
        <div class="interview-display">
                <div class="question-wrap">
                        <p class="interviewer">
                                What are your qualifications as a junior developer?
                        </p>

                        <p class="me">
                                I got my start independently through some of the popular online resources like
                                codeCademy. And I just completed the intense coding bootcamp offered by the University
                                of Arizona. This helped me get a serious boost in my skills. I feel confident about
                                working in both the front and back end now. What this means is that I have practiced
                                everything from creating the first file in the github repository to polishing,
                                deploying, and debugging an application.
                        </p>
                </div>
                <div class="question-wrap">
                        <p class="interviewer">What skills did you develop at your university? </p>

                        <p class="me">Every day I learned new things, and every night I practiced them. This educational
                                phase gave me access to more and more tools for web development, and heavy
                                exposure to the community and concepts. It really opened the door to greater potential
                                in design
                                implementation. </p>
                </div>

                <div class="question-wrap">
                        <p class="interviewer">What do you mean by tools? What languages specifically?</p>
                        <p class="me">
                                We call it the MERN Stack... which includes MYSQL, MongoDB, Express, React, and Node.js.
                                These are the cornerstone languages, but I learned everything from the 3 commons (HTML,
                                javascript, CSS) to supportive
                                packages and CDN's like Bootstrap, Mongoose, Sequelize, and jQuery.
                                I've learned how to build with the MVC model, and leave room for expansion.
                        </p>
                </div>

                <div class="question-wrap">
                        <p class="interviewer">So do you have a favorite yet?</p>
                        <p class="me">Well, React.js was an instant refreshment after working with dynamic HTML from
                                jQuery. It is my favorite area now. But even still, I really like to move around and
                                round out my skillsets, and one thing I enjoy is to create a custom CSS style with
                                flexbox grid layouts for the front-end of whatever I'm working on. It's a nice way to
                                break from the backend and server-side code and be creative too. </p>
                </div>

        </div>
</div>

<script type="text/javascript" src="./js/portfolio.js"></script>