.project-display-image {
  background-color: rgb(0, 0, 0, 0.1);
  height: 50%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50%;
  justify-content: center;
  place-content: left;
  padding: 1.5rem;
  transition: 0.2s;
  margin-bottom: left 15px;
}
.mobile-project-wrap {
  display:none;
}

.greeting-wrap {
  display: flex ;
  flex-direction: column;
  justify-content: left;
  text-align: center;
  margin: auto;
  margin-top:1%;
  margin-bottom: 2%;
  height: 15%;
  width: 100%;
  background-color: rgba(22, 46, 70, 1);
  color: snow;
  border-top: 2px solid rgb(203, 151, 98);
  border-bottom: 2px solid rgb(203, 151, 98);
  transition: 0.7s;
}
.greeting-text {
  text-align: left;
  color: rgb(203, 151, 98);
  font-size: 1.7rem;
  font-family: "Quicksand", sans-serif;
  transition: 0.7s;
}

.greeting-text:hover {
  color: rgba(158, 92, 62, 1);
  border-radius: 8px;
}

.greeting-wrap:hover {
  border-top: 2px solid rgba(158, 92, 62, 1);
  border-bottom: 2px solid rgba(158, 92, 62, 1);
}

.top-row {
  z-index: 6;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* height: 35%; */
  min-height: 200px;
  width: 85%;
  margin:1% auto;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.project-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-content: left;
  background: rgb(0, 0, 0, 0.1);
  margin-top: -6%;
  height: 80%;
  width: 7%;
  border-radius: 30%;
  padding: 1.8rem;
  border-top: 2px solid rgba(22, 46, 70, 1);
  transition: 0.2s;
}

.project-wrap a {
  height: 100%;
  width: 100%;
}

.project-wrap:not(:first-child) {
  margin-left: -2rem;
}

.project-wrap:hover {
  transform: translateY(0.3rem);
  border-top: 1px solid white;
  background: radial-gradient(circle at 50%, black 50%, transparent 90%);
  justify-content: center;
  width: 16%;
  height: 95%;
  border-radius: 10%;
}

.outer-layer {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  height: 85%;
  width: 85%;
  background-color: rgb(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(22, 46, 70, 1);
}

.project-wrap:hover .outer-layer {
  height: 98%;
  width: 98%;
  padding: 4%;
  border-radius: 5%;
  border: 1px solid rgba(102, 67, 52, 1);
  background: radial-gradient(
    circle at 4%,
    rgba(255, 255, 255, 0.7) 14%,
    rgba(102, 67, 52, 1) 25%,
    black 35%
  );
  justify-content: left;
  align-items: center;
}

.inner-layer {
  display: flex;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  background-image: url("./images/adjustedspeedspiral.gif");
  background-size: 100%;
  border: 1px solid white;
}

.project-wrap:hover .inner-layer {
  height: 60%;
  width: 40%;
  min-height: 50%;
  min-width: 40%;
  justify-content: left;
  align-content: left;
  background-size: 100%;
  border: 2px solid rgba(22, 46, 70, 1);
}
.thumbnail {
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 85%;
  width: 80%;
  border-radius: 50%;
  border: 1px solid white;
  min-height: 50px;
  max-height: 60px;
  max-width: 100px;
}
.project-wrap:hover .thumbnail {
  min-height: 85%;
  min-width: 90%;
  max-height: 300px;
  max-height: 300px;
}

.project-text p {
  display: none;
}

.project-text h2 {
  display: none;
  transition: 0.5s;
}

.project-wrap:hover .project-h2 {
  font-size: 1rem;
  text-align: left;
  width: 60%;
  display: inline-flex;
  flex-direction: row;
  font-family: "Kelly Slab", cursive;
  background: -webkit-linear-gradient(rgba(22, 46, 70, 1) 10%, snow 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inner-layer h2 {
  color: white;
}

.display-wrap {
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: -15%;
  height: 20%;
  max-height: 675px;
  width: 100%;
  border-radius: 9%;
  align-content: center;
  justify-content: center;
  transition: 0.7s;
}

.display {
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(216, 173, 129);
  margin: auto;
  margin-top: 12%;
  width: 95%;
  height: 30%;
  min-height: 470px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  color: gray;
}

.project-details {
  display: flex;
  width: 95%;
  height: 98%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h2 {
  font-family: "Gabriela", serif;
  color: white;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(
    rgba(22, 46, 70, 1) 10%,
    snow 30%,
    rgba(22, 46, 70, 1) 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p {
  font-family: "Kelly Slab", cursive;
  font-size: 1.5rem;
  /* color:linear-gradient(to right, rgba(102,67,52,1.0) 30%, rgb(203,151,98) 70%); */
  background: -webkit-linear-gradient(
    rgb(203, 151, 98) 20%,
    rgba(102, 67, 52, 1) 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width:800px) {
  .top-row {
    flex-direction: column;
  }
  .project-wrap {
    display:none;
  }
  .display-wrap {
    display:none;
  }
  .greeting-text {
    text-align: left;
    color: rgb(203, 151, 98);
    font-size: 1.0rem;
    font-family: "Quicksand", sans-serif;
    transition: 0.7s;
  }
  .greeting-text:hover {
    color: rgba(158, 92, 62, 1);
    border-radius: 8px;
  }
  .mobile-project-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(0, 0, 0, 0.1);
    height: 95%; 
    width: 35%;
    min-height: 130px;
    min-width: 250px;
    border-radius: 10%;
    padding: 1.8rem;
    border-top: 2px solid rgba(22, 46, 70, 1);
    border-bottom: 2px solid rgba(22, 46, 70, 1);
    background: radial-gradient(circle at 50%, black 50%, transparent 90%);
  }


  .mobile-project-wrap a {
    display: flex;
    justify-content: center;

  }

  .mobile-project-wrap:not(:first-child) {
    margin: auto;
  }

  .mobile-outer-layer {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5%;
    height: 100%;
    width: 100%;
    min-width:240px;
    padding: 0%;
    background-color:rgba(0,0,0,0);
    background: radial-gradient(
    circle at 4%, 
    rgba(255, 255, 255, 0.7) 14%, 
    rgba(102, 67, 52, 1) 25%, 
    black 35%
  );
  border: 2px solid rgba(22, 46, 70, 1);
  }


.mobile-inner-layer {
  display: flex;
  border-radius: 0%;
  height: 100%;
  width: 100%;
  justify-content: left;
  align-content: left;
  background-image: url("./images/adjustedspeedspiral.gif");
  background-size: 100%;
  border-right:none;
  align-items:center;
}

.mobile-thumbnail {
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 85%;
  width: 80%;
  border-radius: 50%;
  border: 4px solid rgba(22, 46, 70, 1);
  min-height: 50px;
  max-height: 75px;
  max-width: 90px;
}

.mobile-app-link {
  color:rgb(216, 173, 129);
  width:100%;
  margin-top: 15px;
  text-decoration: underline;
  font-size: 1.0rem;
  font-family: "Quicksand", sans-serif;
}

.mobile-project-p {
  display: none;
  flex-direction:column;
  height:100%;
  text-align: left;
    color: rgb(203, 151, 98);
    font-size: 0.8rem;
    font-family: "Quicksand", sans-serif;
    transition: 0.7s;
}

.mobile-project-text {
  border-left:none;
}
.mobile-project-text h2 {
  display: flex;
  font-family: "Gabriela", serif;
  color: white;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(
    rgba(22, 46, 70, 1) 10%,
    snow 30%,
    rgba(22, 46, 70, 1) 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#project-1:checked ~ .mobile-project-p {
  display: flex;
  height: 100%;
}

#project-2:checked ~ .mobile-project-p {
  display: flex;
  height: 100%;
}

#project-3:checked ~ .mobile-project-p {
  display: flex;
  height: 100%;
}

#project-4:checked ~ .mobile-project-p {
  display: flex;
  height: 100%;
}

#project-5:checked ~ .mobile-project-p {
  display: flex;
  height: 100%;
}

#project-6:checked ~ .mobile-project-p {
  display: flex;
  height: 100%;
}

#project-7:checked ~ .mobile-project-p {
  display: flex;
  height: 100%;
}

#project-8:checked ~ .mobile-project-p {
  display: flex;
  height: 100%;
}
}
