.body {
    background-color:black;
    background-image: url("./images/potential-background1.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
}

.navbar-wrap {
    position:fixed;
    z-index:10;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    height: 10%;
    width:100%;
    top:0;
    left:0;
    background:linear-gradient(rgba(255,255,255,0.8) 10%, transparent 20%,rgba(22,46,70,1.0) 28%,black 35%,transparent 85%);
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

.logo {
    color:snow;
    float:right;
    align-items: center;
    margin-top:20px;
    transform: translateX(-100px);


}
.logo-image {
    position:relative;
    float:left;
    height:75px;
    width:85px;


}

.nav-ul{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style:none;
    height:100%;
    font-size:1rem;
}

.nav-option {
    position:relative;
    display:flex;
    justify-content: center;
    text-align:center;
    align-items: center;
    min-height:100%;
    color: rgb(203,151,98);
    width:23%;
    margin:3%;
    background-color:transparent;
    text-align:center;
    align-items:center;
    border: 1px solid transparent;
    transition: 0.6s;

}

.nav-option:hover {
    border: 1px dotted rgba(22,46,70,1.0);
    color:rgba(158,92,62,1.0);
    border-radius:5px;
    display:block;


}

.nav-ul li ul {
    list-style: none;
    display:none;
    height:100%;
    width:100%;
    transition:0.3s;

}
.nav-ul li:hover ul {
    display:flex;
    text-align:center;
    align-items: center;
}

.nav-ul li:hover ul li {
    position:absolute;
    width:23%;
    height:100%;
    display:flex;
    background-color: rgba(22,46,70,1.0);
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    
}


.social-media-wrap {
    display:flex;
    justify-content: space-between;
    width:15%;
    transition: 0.5s;
    float:right;
    transform: translateX(145px);
}


.social-media-wrap img {
    height:35px;
    width:35px;
    border-radius:50%;
    border:1px solid rgba(255,255,255,0.6);
}

.social-media-wrap a{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height:60px;
    transform:translateY(-15px);
    background:rgba(255,255,255, 0.3);
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    transition: all 0.2s;
}


.social-media-wrap a:hover {
    transform: translateY(0px);
}

.social-media-wrap a.facebook:hover {
background:radial-gradient(circle at 50%,rgba(59, 89, 152, 1.0) 15%, snow);
}  
.social-media-wrap a.linkedin:hover {
background: radial-gradient(circle at 50%, rgba(0,119,181,1.0) 15%, snow );
} 
.social-media-wrap a.github:hover {
 background:radial-gradient(circle at 50%,rgba(244, 203, 178, 1.0) 15%, snow);
} 
            
.social-media-wrap a.instagram:hover {
background:radial-gradient(circle at 50%,rgba(195, 42, 163,1.0) 15%, snow);
} 
                
.social-media-wrap a.something:hover {
background:radial-gradient(circle at 50%,rgba(59, 89, 152, 1.0) 15%, snow);

} 


.project-display-image {
    background-color:rgb(0,0,0,0.1);
    height:50%;
    width:50%;
    display:flex;
    flex-wrap: wrap;
    border-radius:50%;
    justify-content:center;
    place-content:left;
    padding: 2rem;
    /* border-left: 2px solid rgba(22,46,70,1.0); */
    transition:0.2s;
    margin-bottom:15px;
}
.div-thing {
    max-height:150px;
    max-width:150px;


    transform:translateY(-30px);
    left:-50px;

}


.projects-container {
    position: relative;
    background: linear-gradient(to right,snow 1%, transparent 4%,rgba(22,46,70,1.0) 6%, black 9%,transparent 25%);
    padding-top: 50px;
    left: -10px;
    height: 100%;
    min-height:660px;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 30%;
    border-bottom-left-radius: 25%;
    border-top-left-radius:25%;
    /* border-bottom:1px solid rgba(22,46,70,1.0);
    border-top:1px solid rgba(22,46,70,1.0); */
}

.project-wrap {
    background:rgb(0,0,0,0.1);
    height:50%;
    width:50%;
    display:flex;
    flex-wrap: wrap;
    border-radius:50%;
    justify-content:center;
    place-content:left;
    padding: 1.8rem;
    border-left: 2px solid rgba(22,46,70,1.0);
    transition:0.3s;
}
.project-wrap a{
    height:100%;
    width:100%;
}

.project-wrap:not(:first-child) {
    margin-top:-4rem;
}
.project-wrap:first-of-type {
    position:relative;
    padding-top: 25px;
}

.project-wrap:hover {
    transform: translateX(1.5rem);
    border:1px solid rgba(22,46,70,1.0);
    background: radial-gradient(circle at 15%, black 55%, transparent 90%);
    align-content:left;
    width:85%;
    height:60%;
    border-radius:15%;
    place-content:left;
    box-shadow: 2px 4px rgba(22,46,70,1.0);

}


.project-wrap:hover ~.project-wrap {
    transform:translateY(3rem);
}  

.outer-layer {
    display:flex;
    border-radius:50%;
    height:75%;
    width:85%;
    background-color:rgb(0,0,0,0.5);
    align-content:center;
    border-right: 1px solid rgba(22,46,70,1.0);
  }
.project-wrap:hover .outer-layer {
height:98%;
width:98%;
padding:4%;
border-radius:5%;
border:1px solid rgba(102,67,52,1.0);
background: radial-gradient(circle at 10%, rgba(255,255,255,0.7) 20%, rgba(102,67,52,1.0) 30%, black 40%);

}
  
  
  .inner-layer {
      display:flex;
      border-radius:50%;
      height:65%;
      width:65%;
      justify-content:center;
      align-content:center;
      /* /* background-image: url("https://img1.picmix.com/output/stamp/normal/9/1/0/5/865019_ac821.gif"); */
      background-image:url("./images/adjustedspeedspiral.gif");
      background-size:100%;
      border: 1px solid white;
    }
    
    .project-wrap:hover .inner-layer {
        justify-content:left;
        align-content:left;
        background-size:100%;
        border:2px solid rgba(22,46,70,1.0);


    }
    .thumbnail{
        justify-content:center;
        align-content:center;
        align-items:center;
        height:85%;
        width:90%;
        border-radius:50%;
        border:1px solid white;
        min-height:50px;
        max-height:60px;
        max-width:100px;
    }
    .project-wrap:hover .thumbnail {
        border:3px solid rgba(22,46,70,1.0);
        min-height:85%;
        min-width:90%;
        max-height: 300px;
        max-height:300px;
    }
    
.project-text {
    display:none;
    transition:1s;
}

.project-wrap:hover .project-text {
    display:flex;
    flex-direction: column;
    color:white;
    justify-content: center;
    align-content:center;
    text-align: center;
}
.inner-layer h2 {
    color:white;
  }

  /* wraps around project container and display */
.main-display-area {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    width:100%;
    height:100%;
    margin-top: 5%;

  }

.display-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 58%;
    background: linear-gradient(to right,rgb(225,225,225) 1%, transparent 4%,rgba(22,46,70,1.0) 6%, black 9%,transparent 25%, rgba(22,46,70,1.0) 75%, black 91%,transparent 96%, rgb(255,255,255) 99%) ;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    border:1px solid rgba(22,46,70,1.0);
    transition:0.7s;
  }
  
  .display-wrap .section-title {
      display:flex;
      justify-content: flex-start;
  width:100%;
  color: rgba(255,255,255,0.7);
  transition: 0.7s;
  height:2%;
  }

.display {
    position:relative;
    display: flex;
    flex-direction: column;
    border:1px solid white;
    margin:auto;
    padding-top:0px;
    width: 95%;
    height: 98%;
    min-height: 480px;
    background-color: rgba(0,0,0,0.8);
    transition:0.5s;
}
.display-wrap:hover .section-title {
    opacity:0;
}
.display-wrap:hover .display {
    padding-top:10px;
    width:100%;
    height:99%;
}
                
.project-details{
    background-color:white;
    color:white;
}
                     