.body {
    background-color:black;
    background-image: url("./images/potential-background1.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
}

.navbar-wrap {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:linear-gradient(rgba(255,255,255,0.8) 13%, transparent 25%,black 30%,transparent 85%);
    height: 10%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    z-index:10;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

.logo {
    color:snow;
    float:right;
    align-items: center;

}
.logo-image {
    position:relative;
    float:left;
    height:50px;
    width:85px;
    background-color:rgba(255,255,255,0.3);
}

.nav-ul{
    position:relative;
    display:flex;
    flex-direction: row;
    list-style:none;
    height:50px;
    right:3%;
    align-items: center;
    
}
.nav-ul li {
    display:flex;
}

.nav-option {
    display:flex;
    position:relative;
    height:100%;
    color: rgb(203,151,98);
    margin:2%;
    background-color:transparent;
    text-align:center;
    align-items:center;

}
.nav-option:hover {
    border:1px dotted rgba(22,46,70,1.0);
    color:rgba(158,92,62,1.0);
    /* background: rgba(255,255,255,0.5); */
    /* background:radial-gradient(circle at 50%, rgba(255,255,255,0.2)10%, transparent 50%); */
}

.social-media-wrap {
    display:flex;
    justify-content: space-between;
    width:20%;
    transition: 0.5s;
    float:right;
}


.social-media-wrap img {
    height:35px;
    width:35px;
    border-radius:50%;
    border:1px solid rgba(255,255,255,0.6);
}

.social-media-wrap a{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height:60px;
    transform:translateY(-15px);
    background:rgba(255,255,255,0.4);
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    transition: all 0.2s;
}


.social-media-wrap a:hover {
    transform: translateY(0px);
}

.social-media-wrap a.facebook:hover {
background:radial-gradient(circle at 50%,rgba(59, 89, 152, 1.0) 15%, snow);
}  
.social-media-wrap a.linkedin:hover {
background: radial-gradient(circle at 50%, rgba(0,119,181,1.0) 15%, snow );
} 
.social-media-wrap a.github:hover {
 background:radial-gradient(circle at 50%,rgba(244, 203, 178, 1.0) 15%, snow);
} 
            
.social-media-wrap a.instagram:hover {
background:radial-gradient(circle at 50%,rgba(195, 42, 163,1.0) 15%, snow);
} 
                
.social-media-wrap a.something:hover {
background:radial-gradient(circle at 50%,rgba(59, 89, 152, 1.0) 15%, snow);

} 





.projects-container {
    position: relative;
    background: linear-gradient(to right,snow 1%, transparent 4%,black 15%,transparent 25%);
    padding-top: 50px;
    left: -10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 30%;
    border-bottom-left-radius: 25%;
    border-top-left-radius:25%;
}

.project-wrap {
    background-color:rgb(0,0,0,0.1);
    height:50%;
    width:50%;
    display:flex;
    flex-wrap: wrap;
    border-radius:50%;
    justify-content:center;
    place-content:left;
    padding: 2rem;
    border-left: 2px solid rgba(22,46,70,1.0);
    transition:0.2s;
}

.project-wrap:not(:first-child) {
    margin-top:-4rem;
}
.project-wrap:first-of-type {
    position:relative;
    padding-top: 25px;
}

.project-wrap:hover {
    transform: translateX(1.5rem);
    border:1px solid rgba(22,46,70,1.0);
    background-color:rgba(0,0,0,0.7);
    align-content:left;
    width:80%;
    height:60%;
    border-radius:15%;
    place-content:left;
    box-shadow: 2px 4px rgba(22,46,70,1.0);

}


.project-wrap:hover ~.project-wrap {
    transform:translateY(3rem);

}  

.outer-layer {
    display:flex;
    opacity:1.0;
    border-radius:50%;
    height:70%;
    width:70%;
    background-color:rgb(0,0,0,0.5);
    align-content:center;
    border: 1px solid white;
  }

.inner-layer {
    display:flex;
    border-radius:50%;
    height:65%;
    width:65%;
    justify-content:center;
    align-content:center;
    background-image: url("https://img1.picmix.com/output/stamp/normal/9/1/0/5/865019_ac821.gif");
    background-size:80%;
    border: 1px solid white
  }
  
.thumbnail{
    justify-content:center;
    align-content:center;
    height:85%;;
    width:90%;
    border-radius:50%;
    border:1px solid white;
  }

.inner-layer h2 {
    color:white;
  }

  /* wraps around project container and display */
.main-display-area {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    width:100%;
    height:100%;
  }

.display-wrap {
    position: relative;
    display: flex;
    margin: auto;
    height: 100%;
    width: 55%;
    background-color:rgba(0,0,0,0.2);
    border-radius: 10px;
    padding-top: 50px;
    margin-top: 5%;
    align-content: center;
    justify-content: center;
    border:1px solid rgba(22,46,70,1.0);
    
  }

.display {
    position:relative;
    display: flex;
    border:1px solid white;
    padding-top: 20px;
    width: 90%;
    height: 95%;
    min-height: 480px;
    background-color: rgba(0,0,0,0.8);
    transition:0.5s;
}
.display:hover {
    padding-top:10px;
    width:92%;
    height:98%;
}
                
                     